/* Для экранов шириной xxx пикселей или меньше */
@media (max-width: 400px) {
    body {
        max-width: 100%; /* Занимает всю ширину экрана */
        margin: 0; /* Убирает внешние отступы */
    }

    #app {
        max-width: 100%; /* Устанавливает максимальную ширину контейнера на 100% ширины экрана */
        margin: 0 auto; /* Центрирует контейнер */
    }
}

/* Для экранов шире xxx пикселей */
@media (min-width: 401px) {
    #app {
        max-width: 400px; /* Ограничивает ширину контейнера до 600 пикселей */
        margin: 0 auto; /* Центрирует контейнер */
    }
}

html,body {
    height: 100vh;
}

body {
    user-select: none;
    background-image: url(assets/bg_menu.svg);
    background-size: cover;  
    background-position: center;
}

.header-content {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

#app {
    background-color: #7d7d7d47;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.spacer {
    flex-grow: 1;
  }

.bot-nav,.top-nav {
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
}

.content-title {
    font-weight: bold;
    text-align: center;
}

.content-main {
    background-color: #ff0000;
    width: 100%;
}
/* === Кнопки ===*/
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.copy-btn {
    background-color: #00f53db7;
}
.active {
    background-color: rgba(255, 255, 0, 0.8);
}

.listBlocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    display: flex;
    justify-content: space-between;
}

/* settings*/

#settingsButton {
    cursor: pointer;
}

#settingsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#settingsOverlay.hidden {
    display: none;
}

#settingsWindow {
    background: white;
    font-size: 22px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}
#settingsTitle {
    margin-bottom: 8px;

}
#settingsWindow ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#settingsCloseButton {
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;
}

/* description popup*/

.hover-block {
    display: inline;
    position: relative;
}

.hover-block::after {
    content: attr(data-popup);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    white-space: pre-wrap; /* Перенос текста */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hover-block:hover::after {
    display: block;
}

/* --------------------- Canvas  --------------------------  */

canvas {
    width: 100%;
    height: auto;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;   
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: relative;
}

.popup-content button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.popup-content p {
    margin: 0;
    padding: 10px 0;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.skin-list {
    display: none;
    margin-top: 10px;
}

.skin-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.skin-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/* upgrade-block */
.upgrade-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.upgrade-block img {
    width: 30vh;
    height: 30vh;
}
.upgrade-block-header {
    display: flex;
    justify-content: center;
}
.upgrade-block-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ccc;
}
.v-line {
    width:0px;
    border: 1px solid #1f1f1f;
    display: inline-block;
}