
<div class="city-container">
    <canvas id="gameCanvas"></canvas>
    <button class="build-btn"  type="submit">Build</button>

</div>
<div class="news">
    <img class="news-icon" src="../static/images/marketplace.png" alt="News!">
    <div>
        <div class="news-title">New arrivals!</div>
        <div class="news-sub-title">Marketplace • NFT for sell</div>
    </div>

    
    <a class="arrow" href="/marketplace">
        <img src="../static/images/right-arrow.svg" alt=">">
    </a>
</div>

<div id="popup" class="popup">
    <div class="popup-content">
        <p id="popupMessage"></p>
        <button id="buildButton">Start building for 1 contract</button>
        <button id="freeButton">Free</button>
        <button id="sellButton">Sell for 500</button>
    </div>
</div>

<script src="../static/javascript/area.js"></script>

