    
    <div class="upgrade-block"> 
        <div class="upgrade-conteiner">

            <div class="upgrade-block-header">
            <span id="areaLvl">1</span><span>/5 lvl</span>
            </div>

            <div class="hover-block" data-popup="Expands the current field for the construction of new buildings.">
                <img src="../assets/sky_obj_3.png" id="upAreaImg">
            </div>

            <button class="upgrade-block-btn">
                <span id="upAreaPrice">300 coins</span>
                <span class="v-line">&nbsp</span>
                <span>Area 2x2</span>  
            </button>
        
        </div>
    </div>
