<div  class="listBlocks">
    <div class="list-item">
        1 lvl Wind resistance +2%
    </div>

    <div class=""> 
        Wind resistance: 20%
        <br>
        Rope length: 10%
    </div>
</div>

    
<div class="upgrade-block"> 
    <div class="upgrade-conteiner">

        <div class="upgrade-block-header">
        <span id="craneLvl">1</span><span>/5 lvl</span>
        </div>

        <div class="hover-block" data-popup="Improves wind resistance and crane rope length.">
            <img src="../assets/sky_obj_4.png" id="upCraneImg">
        </div>

        <button class="upgrade-block-btn">
            <span id="upCranePrice">300 coins</span>
            <span class="v-line">&nbsp</span>
            <span>Wind resistance +2%</span>  
        </button>
    
    </div>
</div>
