<div class="upgrade-block"> 
    <div class="upgrade-conteiner">

        <div class="upgrade-block-header">
        <span id="contractLvl">1</span><span>/5 lvl</span>
        </div>

        <div class="hover-block" data-popup="Increase the number of contracts for buildings.">
            <img src="../assets/sky_obj_2.png" id="upContractImg">
        </div>

        <button class="upgrade-block-btn">
            <span id="upContractPrice">400 coins</span>
            <span class="v-line">&nbsp</span>
            <span>Contract + 1</span>  
        </button>
    
    </div>
</div>
